<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Donimo's</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	</head>
	<body>
		<nav class="navbar">
			<a href="/">
				<img
					src="{{ url_for('static', filename='images/home.svg') }}"
					alt=""
					width="64px"
					style="filter: invert(1)"
				>
			</a>
			<a href="">SNACKS</a>
			<a href="">DRINKS</a>
			<a href="">DESSERTS</a>
			<a href="">CUSTOMIZE YOUR PIZZA</a>
		</nav>
		<div class="main">
			<!-- Left Hand Side -->
			<div class="screen-lhs">
				<div>
					<h1>Featured</h1>
					<p id="divider"></p>
					<div class="spacer"></div>
					{% for pizza in pizzas %}
						<p>{{ pizza[1] }}</p>
					{% endfor %}
					<!--  -->
				</div>
				<div>
					<h1>Sharing Meal Deals</h1>
					<p id="divider"></p>
					<div class="spacer"></div>
				</div>
			</div>
			<!-- Right Hand Side -->
			<div class="screen-rhs">
				<h1>Order Summary</h1>
				<p id="divider"></p>
				<div class="spacer"></div>
				<h2>Add a Voucher Code</h2>
				<div class="spacer"></div>
				<h2>Order Details</h2>
				<div class="spacer"></div>
			</div>
		</div>
	</body>
</html>
